body {
    color: #333;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    margin: 0;
    padding: 0;
}
#container {
    width: 70%;
    padding: 1em;
    text-align: left;
    border: 1px solid #DDD;
    margin: 0 auto;
    -webkit-box-shadow: 4px 10px 18px -7px rgba(0,0,0,0.49);
    -moz-box-shadow: 4px 10px 18px -7px rgba(0,0,0,0.49);
    box-shadow: 4px 10px 18px -7px rgba(0,0,0,0.49);
}
#container h1 {
    font-size: 20px;
}

#cabecera {
    background: rgb(136, 15, 184);
    color: white;
    margin: 0;
    padding: 0.5em;
    font-weight: bold;
}

#cabecera #tagline {
    padding: 0 0 0 1em;
    font-weight: normal;
    font-size: 0.5em;
}

#post {
    padding: 1em;
}